@media (min-width: 320px) and (max-width: 480px){
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        margin: 0;
    }
    
    body {
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 18px;
        color: #000000;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn {
        background-color: #6802a7b2;
        color: #ffffff;
        border-radius: 5px;
    }
    
    .btn__submit {
        padding: 10px 72px;
        border: 0;
    }
    
    .login__background {
        background: rgb(133, 248, 197);
        background: linear-gradient(34deg, rgb(137, 253, 201) 0%, rgba(164, 6, 255, 0.781) 46%, rgba(51, 0, 82, 0.698) 90%);
        text-align: center;
        width: 100%;
        padding: 50px 0 ;
    }
    
    .login__foto > img {
        border-radius: 100%;
        width: 30%;
        margin-bottom: 40px;
    
    }
    
    .login__form {
        background-color: #ffffff;
    }
    
    .form__user {
        padding: 10px;
    }
    
    .input__user, .input_psw {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
    }

    .feedback__img {
        border-radius: 100%;
        width: 10%;
    }
} 

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){} */

