<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Teste PushStart - Feedback</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <template id="feedback__topbar">
                <div class="topbar">
                    <img class="back" :src="'img/back.png'" :alt="'Voltar'">
                    <p class="feedback__title">Feedback</p>
                </div>
            </template>

            <div class="feedback__bar">
                <img class="feedback__img-bar" :src="'img/feedback.png'" :alt="'Críticas e Sugestões aqui!'">
                <p>Deixe suas críticas e sugestões! Assim podemos melhorar o nosso conteúdo.
                </p>
            </div>
            <div class="feedback__form">
                <form class="feedback__user">
                    <input class="feedback__name" type="text" v-model="name" name="name" placeholder="Nome"><br>
                    <input class="feedback__email" type="email" v-model="email" name="email" placeholder="E-mail"><br>
                    <input class="feedback__comment" type="text" v-model="comment" name="comment"
                        placeholder="Escreva seu comentário..."><br>
                    <button class="btn" :class="btnFeedback" type="submit" value="enviar"
                        @click.prevent.stop="feed()">Enviar</button>
                </form>
            </div>
        </div>


    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>

</html>